CMakeFiles/**
**/*.o
**/*.a
**/*.mo
**/*.cmake
.gitignore
.ninja_deps
.ninja_log
build.ninja
CMakeCache.txt
DartConfiguration.tcl
wesnoth
wesnothd
src/config.h
src/revision.dummy
src/revision.h
Testing/sdl2
Testing/sdl2_audio
Testing/sdl2_image
Testing/sdl2_jpg
Testing/sdl2_mixer
Testing/sdl2_png
Testing/sdl2_webp
